h1 {
  text-align: center;
}

#outsideBoard {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
}

#boardContainer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  flex-shrink: 1;
}

#boardContainer div {
  border-style: solid;
  box-shadow: 0px 0px 8px rgb(201, 165, 191);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 500%;
}
