h1 {
  text-align: center;
}

body {
  margin: 0px;
  --deep-blue: rgb(72, 58, 227);
  --border-matrix: rgb(37, 128, 184);
  font-family: Arial, Helvetica, sans-serif;
}

#outsideBoard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.consoleTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(254, 254, 254);
}

.controler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

button {
  min-width: 50%;
  align-self: center;
  padding: 20px 50px;
  font-size: 30px;
  background-color: rgb(39, 62, 146);
  border-radius: 20px;
  border-style: none;
  box-shadow: 0px 0px 3px var(--deep-blue);
  color: white;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  background-color: var(--deep-blue);
  width: 80%;
  align-self: center;
  padding: 20px 30px;
  color: white;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0px 0px 3px var(--deep-blue);
  height: 200px;
  align-content: center;
}

label,
#turnBanner,
#playerStats {
  text-align: center;
}

#boardColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(239, 243, 246);
  border-left: 1px solid rgb(188, 188, 188);
}

#boardContainer {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  flex-shrink: 1;

  gap: 5px;
}

#boardContainer div {
  border: 1px solid var(--border-matrix);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 500%;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 5px var(--deep-blue);
  color: white;
  border-radius: 10px;
}

input {
  width: 200px;
  align-self: center;
  border-radius: 5px;
  border: 1px solid rgb(137, 144, 176);
  font-size: 20px;
  background-color: rgb(240, 240, 240);
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
