h1 {
  text-align: center;
}

#boardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
}

#boardContainer div {
  border-style: solid;
  box-sizing: border-box;
}
